<div class="control-group">
	<label for="car-model" class="control-label">Model: </label>
	<input id="car-model" name="model" type="text"/>
</div>
<div class="control-group">
	<label for="car-year" class="control-label">Year: </label>
	<input id="car-year" name="year" type="number"/>
</div>
<div class="control-group">
	<label for="car-price" class="control-label">Price: </label>
	<input id="car-price" name="price" type="number"/>
</div>
<div class="control-group">
	<label for="car-created-at" class="control-label">Created At: </label>
	<input id="car-created-at" name="createdAt" type="text"/>
</div>
<div class="control-group">
	<label for="car-description" class="control-label">Description: </label><br>
	<textarea name="description" id="description" cols="30" rows="3"></textarea>
</div>
<hr>
<div class="control-group">
	<button class="btn btn-primary js-create">Create</button>
	<button class="btn btn-default js-cancel">Cancel</button>
</div>
