<table class="table">
	<thead>
		<tr>
			<th colspan="3">
				<div class="input-group">
					<span class="input-group-addon" id="search-addon"><span class="glyphicon glyphicon-search"></span></span>
					<input id="searchQuery" type="text" class="form-control" placeholder="Model..." aria-describedby="search-addon">
				</div>
			</th>
			<th colspan="2" class="row">
				<div class="pull-right">
					<span>Sorting:  </span>
					<div class="btn-group btn-group-sm js-filter" role="group" aria-label="...">
						<button class="btn btn-default js-default active">Default</button>
						<button class="btn btn-default js-cheaper">Cheaper</button>
						<button class="btn btn-default js-expensive">Expensive</button>
						<button class="btn btn-default js-az">A-Z</button>
						<button class="btn btn-default js-za">Z-A</button>
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<th>Id</th>
			<th>Photo</th>
			<th>Model</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	
	</tbody>

</table>

<hr>
<div id="paginator">
	
</div>