<form class="navbar-form navbar-left" role="search">
</form>
<table class="table">
	<thead>
		<tr>
			<th colspan="5">
				<div class="pull-right">
					<span>Sorting:  </span>
					<div class="btn-group btn-group-sm js-filter" role="group" aria-label="...">
						<button class="btn btn-default js-default">Default</button>
						<button class="btn btn-default js-cheaper">Cheaper</button>
						<button class="btn btn-default js-expensive">Expensive</button>
						<button class="btn btn-default js-az">A-Z</button>
						<button class="btn btn-default js-za">Z-A</button>
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<th>Id</th>
			<th>Photo</th>
			<th>Model</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	
	</tbody>
	<!--
	<tfoot>
		<tr colspan="5">
			<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			</div>
		</tr>
	</tfoot>
	-->
</table>
