<form>
	<div class="control-group">
		<label for="car-model" class="control-label">First name:</label>
		<input id="car-model" name="model" type="text" value="<%- model %>"/>
	</div>
	<div class="control-group">
		<label for="car-price" class="control-label">Price:</label>
		<input id="car-price" name="price" type="number" value="<%- price %>"/>
	</div>
	<div class="control-group">
		<label for="car-description" class="control-label">Description:</label>
		<input id="car-description" name="description" type="number" value="<%- description %>"/>
	</div>
	<div class="control-group">
		<label for="car-year" class="control-label">Year:</label>
		<input id="car-year" name="year" type="number" value="<%- year %>"/>
	</div>
	<div class="control-group">
		<label for="car-created-at" class="control-label">Year:</label>
		<input id="car-created-at" name="year" type="text" value="<%- created_at %>"/>
	</div>
	<button class="btn js-submit">Save</button>
</form>
