<div class="row">
	<div class=" col-xs-4">
		<div class="thumbnail">
			<img src="<%= mediaUrl() %>" alt="My Image" />
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Lalalala</p>
			</div>
		</div>
	</div>

	<div class="col-xs-4">
		<div class="thumbnail">
			<img src="<%= mediaUrl() %>" alt="My Image" />
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Lalalala</p>
			</div>
		</div>
	</div>

	<div class="col-xs-4">
		<div class="thumbnail">
			<img src="<%= mediaUrl() %>" alt="My Image" />
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Lalalala</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<p class="col-xs-12">
		Model: <%= model %>
	</p>
	<p class="col-xs-12">
		Year: <%= price %>
	</p>
	<p class="col-xs-12">
		Created At: <%= created_at %>
	</p>
	<p class="col-xs-12">
		Description: <%= description %>
	</p>
</div>
<div class="row control-group">
	<button class="btn btn-primary js-edit col-xs-1">Edit</button>
	<button class="btn btn-default js-delete col-xs-1">Delete</button>
</div>


