<td><%= id %></td>
<td>
	<!--<img src="http://placehold.it/350x150">-->
	<img src="<%= mediaUrl(photo[0]) %>">
</td>
<td><%= model %></td>
<td><%= price %>$</td>
<td>
	<div class="btn-group">
		<a class="btn js-show" data-toggle="tooltip" title="Show">
			<span class="glyphicon glyphicon-file"></span>
		</a>
		<a class="btn js-edit" data-toggle="tooltip" title="Edit">
			<span class="glyphicon glyphicon-pencil">
		</a>
		<a class="btn js-delete" data-toggle="tooltip" title="Delete">
			<span class="glyphicon glyphicon-trash">
		</a>
	</div>
</td>